::placeholder {
    font-size: 1.4rem;
    font-family: $fontOpenSans;
    text-transform: uppercase;
    color: $fonts;
  }

.form {
    width: 100%;

    &_name, 
    &_email,
    &_text {
        background-color: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid $fonts;

        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid $fonts !important;
        }
    }

    &_name, 
    &_email {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    &_text {
        resize: none;
    }
}