.loader {
    background-color: $background;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3000;

    &_line {
        border-top: 1px solid $fonts;
        position: absolute;
        top: 50.5%;
        left: 0;
        transform: translateY(-50%);

        @include respondTo(tablet) {
            top: 44%;
        }

        @include respondTo(mobile) {
            top: 17%;
        }
    }
}