.network {

    &_note {
        margin-bottom: 3rem;
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.content {

    &_email,
    &_instagram,
    &_linkedin {
        color: inherit;
        text-decoration: inherit; 
        margin-top: .1rem;
    }
}